@tailwind base;
@tailwind components;

@layer components {
  .border-hover {
    @apply border-8 transition-all duration-300 border-b-main-primary border-l-main-primary border-t-orange-300 border-r-orange-300 hover:border-t-main-primary hover:border-r-main-primary hover:border-b-orange-300 hover:border-l-orange-300;
  }
}

@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
  background-color: #d3f5ee;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
